:root {
  --h-palette-neutral-white: #ffffff;
  --h-palette-neutral-980: #fafafa;
  --h-palette-neutral-960: #f5f5f5;
  --h-palette-neutral-940: #f0f0f0;
  --h-palette-neutral-920: #ebebeb;
  --h-palette-neutral-900: #e5e5e5;
  --h-palette-neutral-880: #e0e0e0;
  --h-palette-neutral-840: #d6d6d6;
  --h-palette-neutral-800: #cccccc;
  --h-palette-neutral-760: #c2c2c2;
  --h-palette-neutral-720: #b8b8b8;
  --h-palette-neutral-680: #adadad;
  --h-palette-neutral-640: #a3a3a3;
  --h-palette-neutral-600: #999999;
  --h-palette-neutral-560: #8f8f8f;
  --h-palette-neutral-520: #858585;
  --h-palette-neutral-480: #7a7a7a;
  --h-palette-neutral-440: #707070;
  --h-palette-neutral-400: #666666;
  --h-palette-neutral-360: #5c5c5c;
  --h-palette-neutral-320: #525252;
  --h-palette-neutral-280: #474747;
  --h-palette-neutral-240: #3d3d3d;
  --h-palette-neutral-200: #333333;
  --h-palette-neutral-160: #292929;
  --h-palette-neutral-120: #1f1f1f;
  --h-palette-neutral-100: #1a1a1a;
  --h-palette-neutral-80: #141414;
  --h-palette-neutral-60: #0f0f0f;
  --h-palette-neutral-40: #0a0a0a;
  --h-palette-neutral-20: #050505;
  --h-palette-neutral-black: #000000;
  --h-palette-purple-50: #e6dafc;
  --h-palette-purple-100: #d4c7ec;
  --h-palette-purple-200: #b7a2e0;
  --h-palette-purple-300: #9b7bd5;
  --h-palette-purple-400: #845ecb;
  --h-palette-purple-500: #6e42c1;
  --h-palette-purple-600: #653dbb;
  --h-palette-purple-700: #5835b1;
  --h-palette-purple-800: #4c2ea9;
  --h-palette-purple-900: #38229b;
  --h-palette-yellow-50: #ffffe6;
  --h-palette-yellow-100: #fcfdc0;
  --h-palette-yellow-200: #f9fa93;
  --h-palette-yellow-300: #f5f662;
  --h-palette-yellow-400: #f0f234;
  --h-palette-yellow-500: #ffff00;
  --h-palette-yellow-600: #ffeb00;
  --h-palette-yellow-700: #ffd100;
  --h-palette-yellow-800: #ffb700;
  --h-palette-yellow-900: #ff8a00;
  --h-palette-blue-50: #e4f1fe;
  --h-palette-blue-100: #bddcfe;
  --h-palette-blue-200: #94c6fe;
  --h-palette-blue-300: #6cb0fc;
  --h-palette-blue-400: #519ffb;
  --h-palette-blue-500: #408ff9;
  --h-palette-blue-600: #3f81ea;
  --h-palette-blue-700: #3c6ed6;
  --h-palette-blue-800: #395dc3;
  --h-palette-blue-900: #333da3;
  --h-palette-red-50: #fbeaed;
  --h-palette-red-100: #f6cbcf;
  --h-palette-red-200: #e19897;
  --h-palette-red-300: #d27170;
  --h-palette-red-400: #d9544f;
  --h-palette-red-500: #db4537;
  --h-palette-red-600: #cd3d36;
  --h-palette-red-700: #bb3430;
  --h-palette-red-800: #ae2e29;
  --h-palette-red-900: #a0241e;
  --h-palette-green-50: #e6f6eb;
  --h-palette-green-100: #c2e8cd;
  --h-palette-green-200: #9ad9ad;
  --h-palette-green-300: #6fcb8c;
  --h-palette-green-400: #4bbf74;
  --h-palette-green-500: #1cb35b;
  --h-palette-green-600: #11a451;
  --h-palette-green-700: #009245;
  --h-palette-green-800: #00813a;
  --h-palette-green-900: #006126;
  --h-palette-orange-50: #fff3e0;
  --h-palette-orange-100: #ffe0b1;
  --h-palette-orange-200: #ffcb7e;
  --h-palette-orange-300: #ffb64a;
  --h-palette-orange-400: #ffa620;
  --h-palette-orange-500: #ff9700;
  --h-palette-orange-600: #fb8a00;
  --h-palette-orange-700: #f57a00;
  --h-palette-orange-800: #ef6a00;
  --h-palette-orange-900: #e74e00;

}