.h-font-bold {
  font-weight: 700;
}

.h-font-semiBold {
  font-weight: 600;
}

.h-font-medium {
  font-weight: 500;
}

.h-font-regular {
  font-weight: 400;
}

.h-typo-hero-1 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.h-typo-hero-2 {
  font-size: 2.5rem;
  line-height: 1.25;
  letter-spacing: -0.023em;
}

.h-typo-title-1 {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.021em;
}

.h-typo-title-2 {
  font-size: 1.75rem;
  line-height: 1.285;
  letter-spacing: -0.0236em;
}

.h-typo-title-3 {
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: -0.023em;
}

.h-typo-heading-1 {
  font-size: 1.375rem;
  line-height: 1.364;
  letter-spacing: -0.0194em;
}

.h-typo-heading-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.012em;
}

.h-typo-heading-3 {
  font-size: 1.125rem;
  line-height: 1.445;
  letter-spacing: -0.002em;
}

.h-typo-body-1-normal {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.0057em;
}

.h-typo-body-1-reading {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.0057em;
}

.h-typo-body-2-normal {
  font-size: 0.9375rem;
  line-height: 1.467;
  letter-spacing: 0.0096em;
}

.h-typo-body-2-reading {
  font-size: 0.9375rem;
  line-height: 1.6;
  letter-spacing: 0.0096em;
}

.h-typo-label-1-normal {
  font-size: 0.875rem;
  line-height: 1.429;
  letter-spacing: 0.0145em;
}

.h-typo-label-1-reading {
  font-size: 0.875rem;
  line-height: 1.571;
  letter-spacing: 0.0145em;
}

.h-typo-label-2 {
  font-size: 0.8125rem;
  line-height: 1.385;
  letter-spacing: 0.0194em;
}

.h-typo-caption-1 {
  font-size: 0.75rem;
  line-height: 1.334;
  letter-spacing: 0.0252em;
}

.h-typo-caption-2 {
  font-size: 0.6875rem;
  line-height: 1.273;
  letter-spacing: 0.0311em;
}

